* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #f5f5f5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}